<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/output.css' />
    <title>Sistema de Tutoria</title>
  </head>
  <body class='bg-[#E9F1FA]'>
    <!-- Seção de Introdução -->
    <header class='bg-[#00ABE4] text-white py-12'>
      <div class='max-w-7xl mx-auto text-center'>
        <h1 class='text-4xl font-bold'>Bem-vindo ao Sistema de Tutoria</h1>
        <p class='mt-4 text-lg'>Melhore seu desempenho com a ajuda dos melhores
          tutores.</p>
        <a
          href='/auth/register'
          class='mt-6 inline-block bg-white text-[#00ABE4] font-semibold py-2 px-6 rounded-full hover:bg-[#E9F1FA]'
        >
          Registrar-se Agora
        </a>
      </div>
    </header>

    <!-- Seção sobre os Benefícios -->
    <section class='py-12'>
      <div class='max-w-7xl mx-auto px-4 text-center'>
        <h2 class='text-3xl font-bold mb-6 text-gray-900'>Por que usar nosso
          sistema de tutoria?</h2>
        <div
          class='flex flex-col md:flex-row justify-center space-y-6 md:space-y-0 md:space-x-8'
        >
          <div class='bg-white shadow-lg p-6 rounded-lg w-full md:w-1/3'>
            <h3 class='text-xl font-bold text-[#00ABE4]'>Tutoria Personalizada</h3>
            <p class='mt-4 text-gray-600'>Receba suporte individualizado de
              tutores qualificados em várias disciplinas.</p>
          </div>
          <div class='bg-white shadow-lg p-6 rounded-lg w-full md:w-1/3'>
            <h3 class='text-xl font-bold text-[#00ABE4]'>Agendamentos Flexíveis</h3>
            <p class='mt-4 text-gray-600'>Agende sessões nos horários que melhor
              se encaixam no seu calendário.</p>
          </div>
          <div class='bg-white shadow-lg p-6 rounded-lg w-full md:w-1/3'>
            <h3 class='text-xl font-bold text-[#00ABE4]'>Acompanhe seu Progresso</h3>
            <p class='mt-4 text-gray-600'>Monitore seu desempenho e avalie seus
              tutores após cada sessão.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Seção de Chamada para Ação -->
    <section class='bg-[#00ABE4] text-white py-12'>
      <div class='max-w-7xl mx-auto text-center'>
        <h2 class='text-3xl font-bold'>Pronto para começar?</h2>
        <p class='mt-4'>Cadastre-se e comece a agendar suas sessões de tutoria
          agora mesmo.</p>
        <a
          href='/auth/register'
          class='mt-6 inline-block bg-white text-[#00ABE4] font-semibold py-2 px-6 rounded-full hover:bg-[#E9F1FA]'
        >
          Registrar-se
        </a>
      </div>
    </section>
  </body>
</html>