<h1>Livros disponíveis:</h1>

<div class='books-container'>
  {{#each books}}
    <div>
      #{{this.id}}
      -
      <span class='bold'>{{this.title}}</span>
      -
      {{this.pageqty}}
      páginas
    </div>
  {{/each}}
  <a href='/'><input type='button' value='Faz o L' id='fazOL' />
</div>