* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #5e2750;
}

.container {
  display: flex;
  width: 400px;
  margin: 0 auto;
}

.item {
  color: #fff;
  display: flex;
  border: 2px;
  border-style: dashed solid;
  margin: 1px;
  width: 100px;
  padding: 2px;
  align-items: center;
  justify-content: center;
}

.item:nth-child(2) {
}
