<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cadastro de Livros</title>
  </head>
  <body>
    <h1>Cadastre o seu livro:</h1>
    <form action='/books/insertbook' method='POST' class='form'>
      <div class='form-control'>
        <label for='title'>Título:</label>
        <input
          type='text'
          id='title'
          name='title'
          placeholder='Informe o título do livro'
        />
      </div>
      <div class='form-control'>
        <label for='pageqty'>Número de páginas:</label>
        <input
          type='number'
          id='pageqty'
          name='pageqty'
          placeholder='Informe a quantidade de páginas'
        />
      </div>
      <input type='submit' value='Cadastrar' />
    </form>
  </body>
</html>