<h1 class='h1user'>Usuários Cadastrados</h1>
<div class='table-container'>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ocupação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.occupation}}</td>
          <td class='actions'>
            <button class='edit-btn'>Editar</button>
            <button class='remove-btn'>Remover</button>
          </td>
        </tr>
      {{/each}}
      <!-- Adicione mais linhas conforme necessário -->
    </tbody>
  </table>
</div>