/* styles.css */

/* Reset de estilos e definições globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Cor de fundo geral */
  color: #333; /* Cor do texto principal */
  line-height: 1.6;
}

/* Estilos para a barra de navegação */
#navbar {
  background-color: #402e7a; /* Cor da barra de navegação */
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

#navbar ul {
  list-style-type: none;
  text-align: right;
  align-content: center;
}

#navbar ul li {
  display: inline;
  margin-right: 20px;
}

#navbar ul li a {
  color: #fff; /* Cor do texto dos links */
  text-decoration: none;
  padding: 5px 10px;
}

#navbar ul li a:hover {
  text-decoration: underline;
}

h2 {
  padding: 10px;
  color: #fff;
}

/* Estilos para a seção de conteúdo */
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff; /* Cor de fundo da área de conteúdo */
  padding: 20px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px dashed;
}

/* Estilos para o formulário de criação de tarefa */
.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  color: #4c3bcf; /* Cor do texto das labels */
}

.form-control input,
.form-control textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='submit'] {
  background-color: #4b70f5;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.7em 1.5em;
  border-radius: 5px;
  width: 25%;
}

input[type='submit']:hover {
  background-color: #3dc2ec;
}
