{{! views/aluno/dashboard.handlebars }}

<h1 class='text-2xl font-bold mb-4'>{{title}}</h1>
<p>Bem-vindo(a) ao seu dashboard, {{user.name}}!</p>

<div class='mt-4'>
  <p>Aqui você poderá acessar suas disciplinas, agendamentos, e mais!</p>
</div>