{{#if user}}
  <!-- Se o usuário estiver logado, exibe o menu lateral esquerdo -->
  <aside
    class='bg-gray-800 w-64 min-h-screen p-6 text-white fixed top-0 left-0'
  >
    <nav>
      <ul>

        <!-- Menu para Administrador -->
        {{#if (eq user.role 'Administrador')}}
          <li><a
              href='/admin/dashboard'
              class='block py-2 px-4 hover:bg-gray-700'
            >Dashboard</a></li>
          <li><a
              href='/admin/users'
              class='block py-2 px-4 hover:bg-gray-700'
            >Gerenciar Usuários</a></li>
          <li><a
              href='/admin/availability/list'
              class='block py-2 px-4 hover:bg-gray-700'
            >Monitoria</a></li>

        {{/if}}

        <!-- Menu para Monitor -->
        {{#if (eq user.role 'Monitor')}}
          <li><a
              href='/monitor/schedule'
              class='block py-2 px-4 hover:bg-gray-700'
            >Minhas Sessões</a></li>
          <li><a
              href='/monitor/availability'
              class='block py-2 px-4 hover:bg-gray-700'
            >Disponibilidade</a></li>
        {{/if}}

        <!-- Menu para Estudante -->
        {{#if (eq user.role 'Aluno')}}
          <li><a
              href='/student/dashboard'
              class='block py-2 px-4 hover:bg-gray-700'
            >Dashboard</a></li>
          <li><a
              href='/student/tutors'
              class='block py-2 px-4 hover:bg-gray-700'
            >Monitoria</a></li>
          <li><a
              href='/student/schedule'
              class='block py-2 px-4 hover:bg-gray-700'
            >Agendar Sessão</a></li>
        {{/if}}

        <li><a
            href='/auth/logout'
            class='block py-2 px-4 hover:bg-gray-700'
          >Sair</a></li>
      </ul>
    </nav>
  </aside>
{{else}}
  {{! MENU PARA QUEM NÃO ESTÁ LOGADO }}
  <aside
    class='bg-gray-800 w-64 min-h-screen p-6 text-white fixed top-0 left-0'
  >
    <nav>
      <ul>
        <li><a
            href='/'
            class='block py-2 px-4 hover:bg-gray-700'
          >Início</a></li>

        <li><a
            href='/auth/login'
            class='block py-2 px-4 hover:bg-gray-700'
          >Login</a></li>
        <li><a
            href='/auth/register'
            class='block py-2 px-4 hover:bg-gray-700'
          >Registrar</a></li>

      </ul>
    </nav>
  </aside>
{{/if}}