<header class='bg-gray-800 p-4'>
  <div class='container mx-auto'>
    <h1 class='text-white text-2xl'>Sistema de Agendamento de Tutoria</h1>
    <nav>
      <ul class='flex space-x-4'>
        <li><a href='/' class='text-white'>Home</a></li>
        <li><a href='/auth/login' class='text-white'>Login</a></li>
        <li><a href='/auth/register' class='text-white'>Registrar</a></li>
      </ul>
    </nav>
  </div>
</header>