<aside class='w-64 bg-indigo-700 min-h-screen text-white'>
  <nav class='space-y-2 p-6'>
    <h2 class='text-xl font-bold mb-4'>Menu</h2>
    <ul>
      <li>
        <a
          href='/dashboard'
          class='block py-2 px-4 hover:bg-indigo-600 rounded-md'
        >Dashboard</a>
      </li>
      <li>
        <a
          href='/monitores'
          class='block py-2 px-4 hover:bg-indigo-600 rounded-md'
        >Monitores</a>
      </li>
      <li>
        <a
          href='/agendamentos'
          class='block py-2 px-4 hover:bg-indigo-600 rounded-md'
        >Agendamentos</a>
      </li>
      <li>
        <a
          href='/configuracoes'
          class='block py-2 px-4 hover:bg-indigo-600 rounded-md'
        >Configurações</a>
      </li>
    </ul>
  </nav>
</aside>