<h1>All Tasks</h1>

{{#each tasks}}
  <div class='tasks'>
    <a href='/'><h3>{{this.title}}</h3></a>
    <p>Descrição: {{this.description}}</p>
    <div class='actions'>
      <a href='/'><i class='bi bi-check2'></i></a>
      <a href='/'><i class='bi bi-pencil-square'></i></a>
      <a href='/'><i class='bi bi-x-square'></i></a>
    </div>
  </div>
{{/each}}